<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <div th:replace="~{fragments/header :: header_css}"></div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
        <div class="card" style="border-width: 2px;border-style: solid;border-radius: 10px;" th:object="${User}">
            <div class="card-body">
                <div class="row" style="width: 800px;">
                    <div class="col-lg-2 offset-lg-0">
                        <img class="img-thumbnail" src="/assets/img/user.png" style="margin-right: 202px;" width="100" height="100" loading="lazy" />
                    </div>
                    <div class="col-lg-10" style="background: #bae0e0;">
                        <h4 class="font-weight-bolder text-left text-secondary" style="margin-bottom: 0px;" th:text="'Full Name: ' + ${User.firstName} + ' ' + ${User.lastName}">Aaron Dsouza</h4>
                        <h4 class="font-weight-bolder text-left text-secondary" style="margin-bottom: 0px;" th:text="'Username: ' + ${User.username}">Aaron Dsouza</h4>
                        <h4 class="font-weight-bolder text-left text-secondary" style="margin-bottom: 0px;" th:text="'Email: ' + ${User.email}">Aaron Dsouza</h4>
                    </div>                    
                </div>
            </div>
        </div>
    </div>    
        <div class="container-md" style="margin-top: 30px;">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Your Posts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Your Comments</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active" role="tabpanel">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody th:each="posts : ${Posts}">
                                    <tr>
                                        <th scope="row" th:text="${posts.id}">Id</th>
                                        <td th:text="${posts.title}">Title</td>
                                        <td th:text="${#dates.format(posts.createDate, 'dd-MMM-yyyy')}">Date</td>
                                        <td>
                                            <a th:href="@{'/deletepost/{id}'(id=${posts.id})}" style="margin-right: 20px;"><i class="fa-solid fa-trash-can" style="color: #f00f0f;"></i></a>
                                            <a th:href="@{'/editpost/{id}'(id=${posts.id})}"><i class="fa-solid fa-pen-nib" style="color: #0f1ef0;"></i></a>
                                        </td> 
                                      </tr>
                            </tbody>
                          </table>
                    </div>
                    <div id="tab-2" class="tab-pane" role="tabpanel">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Body</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody th:each="comments : ${Comments}">
                                    <tr>
                                        <th scope="row" th:text="${comments.id}">Id</th>
                                        <td th:text="${comments.body}">Title</td>
                                        <td th:text="${#dates.format(comments.createDate, 'dd-MMM-yyyy')}">Date</td>
                                        <td>
                                            <a th:href="@{'/deletecomment/{id}'(id=${comments.id})}" style="margin-right: 20px;"><i class="fa-solid fa-trash-can" style="color: #f00f0f;"></i></a>
                                            <a th:href="@{'/editcomment/{id}'(id=${comments.id})}"><i class="fa-solid fa-pen-nib" style="color: #0f1ef0;"></i></a>
                                        </td>                                        
                                      </tr>
                            </tbody>
                          </table>
                         
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>