<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: header_css}"></div>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <header class="masthead" style="background-image:url('assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-7 mx-auto">
                    <div class="site-heading">
                        <h1>ProwerBlog</h1><span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <h1 style="color: var(--green);font-size: 40px;text-decoration: underline; font-style: italic; padding-left: 20px;">Recent Articles</h1>
    <br>
    <div class="container">
        <div class="row" th:each="posts : ${Posts}">
            <div class="col-md-10 col-lg-8" data-bss-hover-animate="pulse">
                <div class="post-preview">
                    <h2 class="post-title" th:text="${posts.title}">Title</h2>
                    <p class="post-meta"
                        th:text="${'Posted by ' + posts.user.username + ' on ' + #dates.format(posts.createDate, 'dd-MMM-yyyy')}">
                        Posted by Start Bootstrap on September 24, 2018</p>
                </div><a
                    class="font-weight-bold text-justify text-sm-center text-md-center text-lg-center text-xl-center text-primary"
                    href="#" th:href="@{'/getfullpost/' + ${posts.id}}">Read More...</a>
                <hr><span></span>
                <div class="post-preview"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>